<!-- ********** Flash info ********** -->
<div class="flash-info">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Breaking News Widget -->
                <div class="breaking-news-area d-flex align-items-center">
                    <div class="news-title">
                        <p>Alerte Evenement</p>
                    </div>
                    <div id="breakingNewsTicker" class="ticker">
                        <ul>
                            {% for evenement in flash %}
                                <li><a href="{{ path('membre_inscription') }}">{{ evenement.titre }}</a></li>
                                <li><a href="{{ path('membre_inscription') }}">{{ evenement.lieu }}</a></li>
                                <li><a href="{{ path('membre_inscription') }}">le {{ evenement.dateEvenement | date('d/m/Y' ) }} à {{ evenement.dateEvenement | date('h:m') }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ********** FIN Flash info ********** -->