<!-- ========== Sidebar Area ========== -->
<div class="col-12 col-md-8 col-lg-4">
    <div class="post-sidebar-area wow fadeInUpBig" data-wow-delay="0.2s">
        <!-- Widget Derniers evenements -->
        <div class="sidebar-widget-area">
            <h5 class="title">Derniers Evénements</h5>
            <div class="widget-content">
                <!-- Single Blog Post -->
                <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="{{ asset('images/b11.jpg') }}" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="#" class="headline">
                            <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
                            <p class="p-0 m-0">12/08/2019</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Widget Derniers articles -->
        <div class="sidebar-widget-area">
            <h5 class="title">Derniers Articles</h5>
            <div class="widget-content">
                <!-- Single Blog Post -->
                {% for article in articles %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img src="{{ asset('images/product/'~article.featuredImage) }}" alt="{{ article.titre }}">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a      href=" {{ path('front_article',{'slug': article.slug , 'id' : article.id}) }}" class="headline">
                                <h5 class="mb-0">{{ article.titre }}</h5>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Widget Contact -->
        <div class="sidebar-widget-area">
            <h5 class="title">Contact</h5>
            <div class="widget-content">
                <p>Nom de l'Association<br>Adresse<br>Téléphone : 0123456789<br>Email</p>
            </div>
        </div>
        <!-- Widget Réseaux sociaux -->
        <div class="sidebar-widget-area">
            <h5 class="title">Restez Connecté</h5>
            <div class="widget-content">
                <div class="social-area d-flex justify-content-between">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-widget-area">
            <h5 class="title">Galerie</h5>
            <div class="widget-content">
                <section class="gallery-block compact-gallery m-0 p-0">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                                <a class="lightbox" href="#">
                                    <img class="img-fluid image" src="{{ asset('images/image1.jpg') }}">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                                <a class="lightbox" href="#">
                                    <img class="img-fluid image" src="{{ asset('images/image2.jpg') }}">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                                <a class="lightbox" href="#">
                                    <img class="img-fluid image" src="{{ asset('images/image3.jpg') }}">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                                <a class="lightbox" href="#">
                                    <img class="img-fluid image" src="{{ asset('images/image4.jpg') }}">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                                <a class="lightbox" href="#">
                                    <img class="img-fluid image" src="{{ asset('images/image5.jpg') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>