{% extends "layout.html.twig" %}
{% block page_title %}
    Apropos
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
    <div class="main-content-wrapper section-padding-25-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="single-blog-post post-style-4 d-flex wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="affiche-evenement">
                            <img src="{{ asset('images/product/'~evenement.featuredImage) }}" alt="affiche evenement">
                        </div>
                    </div>
                </div>
                <div class="col-8">
                        <!-- Post Content -->
                        <a href="#" class="headline">
                            <h2>{{ evenement.titre }}</h2>
                        </a>
                        <div class="post-content">
                            <h4>{{ evenement.dateEvenement | date("d M Y") }}</h4>
                            <h5>{{ evenement.lieu }}</h5>
                            <!-- Post Meta -->
                            <div class="post-meta ">
                                <h6>{{ evenement.contenu }}</h6>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block final_javascripts %}
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        CKEDITOR.replace( 'form[contenu]' );
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>
{% endblock %}
