{% extends "layout.html.twig" %}
{% block page_title %}
    Liste des adhérants
{% endblock %}
{% set active = 'Admin' %}
{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
    <div class="main-content-wrapper section-padding-25">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2>
                        Liste des {{ nbrMembres }} adhérants
                    </h2>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th class="text-center" scope="col">Email</th>
                                <th class="text-center" scope="col">Tél</th>
                                <th class="text-center" scope="col">Adhésion</th>
                                <th class="text-center" scope="col">Modifier</th>
                                <th class="text-center" scope="col">Supp</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for unMembre in membres %}

                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ unMembre.nom }}</td>
                                    <td>{{ unMembre.prenom }}</td>
                                    <td class="text-center">{{ unMembre.email }}</td>
                                    <td class="text-center">{{ unMembre.telephone }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('adhesion_paiement', {
                                            id: unMembre.id
                                        }) }}">
                                            <span class="check">
                                                {#{{ dump(unMembre.roles) }}#}
                                                {% if (unMembre.roles[0] == 'ROLE_ADHERANT' or unMembre.roles[0] == 'ROLE_ADMIN') %}
                                                    <i class="fas fa-check"></i>
                                                {% else %}
                                                    <i class="fas fa-sync"></i>
                                                {% endif %}
                                            </span>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path('membre_edit', {
                                            id: unMembre.id
                                        }) }}">
                                            <span class="modif">
                                                <i class="fas fa-pencil-alt"></i>
                                            </span>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path('membre_supprimer', {
                                            id: unMembre.id
                                        }) }}" data-toggle="modal" data-target="#Modal{{ unMembre.id }}">
                                            <span class="sup">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </a>
                                    </td>

                                </tr>
                                <!-- Modal -->
                                <div class="modal fade" id="Modal{{ unMembre.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Suppression Produit</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Etes vous certains de vouloir supprimer ce produit
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                                                <button type="button" class="btn btn-primary"><a class="text-light" href="{{ path('membre_supprimer', {
                                                        id: unMembre.id
                                                    }) }}">OUI</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fin Modal -->
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}