{% extends "layout.html.twig" %}
{% block page_title %}
    Liste des adhérants
{% endblock %}
{% set active = 'Admin' %}
{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
    <div class="main-content-wrapper section-padding-25">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2>
                        Liste des {{ nbrMembres }} adhérants
                    </h2>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Email</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Code postal</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Mode de paiement</th>
                                <th scope="col">Status</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for unMembre in membres %}

                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ unMembre.nom }}</td>
                                    <td>{{ unMembre.prenom }}</td>
                                    <td>{{ unMembre.email }}</td>
                                    <td>{{ unMembre.telephone }}</td>
                                    <td>{{ unMembre.adresse }}</td>
                                    <td>{{ unMembre.codePostal }}</td>
                                    <td>{{ unMembre.ville }}</td>
                                    <td>{{ unMembre.paiement }}</td>
                                    <td>{{ unMembre.roles[0] }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('membre_supprimer', {
                                            id: unMembre.id
                                        }) }}">
                                            <span class="sup">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}