{% extends "layout.html.twig" %}
{% block page_title %}
    Contact
{% endblock %}
{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>


<div class="main-content-wrapper section-padding-25-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <section class="single-blog-content">
                    <div class="post-meta mb-50">
                        <h4>Nous contacter:</h4>
                    </div>

                    <div class="post-content">
                        <h5>Adresse</h5>
                        {% for contact  in contact %}
                        <p class ="col-12 col-lg-8 item-text" id="adresse">
                            {{contact.adresse}}<br>
                            {{ contact.codePostal ~ ' ' ~ contact.ville }}
                        </p>
                        <h5>Coordonnées</h5>
                        <p class ="col-12 col-lg-8 item-text" id="coordonnees">
                            Tél: {{contact.telephone}}<br>
                            Email: {{contact.email}}
                        </p>
                        {% endfor %}
                    </div>

                    <div class="post-content">
                    {# l'include ci-desous implémente la map google.
                     _test.html.twig est un copié collé de https://developers.google.com/maps/documentation/javascript/adding-a-google-map
                     _googleMap.html.twig est une version factorisée mais non oppérationelle#}
                    {% include 'component/_test.html.twig' %}
                    </div>
                </section>
            </div>
            {{ render(controller('App\\Controller\\FrontController::sidebar')) }}
        </div>
    </div>
</div>
{% endblock %}
