{% extends "layout.html.twig" %}
{% block page_title %}
    Accueil
{% endblock %}
{% set active = 'Accueil' %}
{% block content %}


    {% if (is_granted("IS_AUTHENTICATED_FULLY")) %}
        {{ render(controller('App\\Controller\\FrontController::sliderAccueil')) }}
<div class="main-content-wrapper section-padding-25-0">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Contenu -->
            <div class="col-12 col-lg-8">
                <div class="post-content-area mb-50">
                    <div class="title">
                        <h2>Derniers événements</h2>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post post-style-4 d-flex wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail post-affiche">
                            <img src="{{ asset('images/affiche1.jpg') }}" alt="{{ asset('images/affiche1.jpg') }}">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h4>Fête de la nature</h4>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta ">
                                <p><a href="#" class="post-date-affiche">23 - 27 mai 2018</a><br><a href="#" class="post-lieu">Lieu</a></p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post post-style-4 d-flex wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail post-affiche">
                            <img src="{{ asset('images/affiche2.jpg') }}" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h4>Festival Paris Cinéma</h4>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta ">
                                <p><a href="#" class="post-date-affiche">3 - 9 juillet 2009</a><br><a href="#" class="post-lieu">Lieu</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SIDEBAR -->
            {{ render(controller('App\\Controller\\FrontController::sidebar')) }}
        </div>
    </div>
</div>
    {% else %}
        <div class="hero-area height-100-vh bg-img background-overlay" style="background-image: url({{ asset('images/balade-familiale.jpeg') }});">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12">
                        {% include 'component/_flashinfo.html.twig' %}
                    </div>
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="single-blog-title text-center">

                            <div class="post-cta"><a href="#">travel</a></div>
                            <h3>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

